.navbar {
    background-color: tomato;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

div {
    /* margin-left: 10px; */
    gap: 10px;
    color: white;
}