.navbar {
    background-color: tomato;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar-menu-links {
    /* margin-left: 10px; */
    color: white;
    margin-left: 10px;
}
